{% extends "site_base.html" %}
{% block head_title %}Rent out your items{% endblock %}
{% block extrahead %}

<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})


</script>
{% endblock %}

{% block body %}
<div class="container">
    <div id="content" class="col-xs-12 col-sm-8 col-md-8">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Description of the process</h2><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pulvinar felis vitae felis
            sagittis condimentum. Cras pharetra, mauris eget dignissim finibus, turpis lectus fringilla diam, eget
            pretium ligula metus rutrum tellus. Nulla scelerisque condimentum lectus a luctus. Phasellus justo odio,
            faucibus a felis eu, sodales gravida augue. Nullam vel sem ac quam iaculis congue quis a ex. Aliquam non
            volutpat ante.
        </div>
        <div class="row">
            <form action="{% url 'add_item' %}" method="post" id="add-item"><br>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="col-xs-12">
                    <div class="control-label col-xs-2">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-xs-8">
                        {{ field }}
                    </div>
                    <div class="col-xs-2">
                        {{ field.errors }}
                    </div>
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-success" value="Finish" name="submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}

