{% extends "site_base.html" %}
{% block head_title %}Rent out your items{% endblock %}

{% block body %}
<div class="container">
    <div id="content">
        TODO:
        1) upload images
        2) make categories selection nicer
        3) normal sized fields
        4) information buttons
        5) Redirect to this Item's detail view (Owner can delete this Item)
        <form method="post"><br>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form }}
            <input type="submit" class="btn btn-success" value="Save" name="submit">
        </form>

    </div>


</div>


{% endblock %}

