{% extends "site_base.html" %}
{% load staticfiles %}
{% load item_extras %}
{% block head_title %}Rent out your items{% endblock %}
{% block extrahead %}

<script type="text/javascript" src="{% static 'app/js/change_required_field_text.js' %}" defer></script>

<script type="text/javascript" src="{% static 'app/js/bootstrap-filestyle.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div id="content" class="col-xs-12">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Description of the process</h2><br>
            <p>You can upload your item after filling in various details and adding images of it.</p>
            <p>We will review the listing within 24 hours and notify you when it is visible for everyone.</p>
            <p>People can find your items by searching. They can then contact you through Facebook.</p>
        </div>
        <div class="row">
            <form action="{% url 'add_item' %}" method="post" id="add-item"><br>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="row {% if 'image' in field.name and field.name != 'image01' %} hidden {% endif %}">
                    <div class="col-xs-12">
                        <div class="control-label col-xs-2">
                            {% if field.name == 'categories' %}
                            <label for="id_categories">{{ 'categories' | verbose_name}}:</label>
                            {% elif field.name != 'location' %}
                            {{ field.label_tag }}
                            {% endif %}
                        </div>
                        {% if field.errors %}
                        <div class="col-xs-8">
                            {{ field }}
                        </div>
                        <div class="col-xs-2 alert-danger">
                            {{ field.errors }}
                        </div>
                        {% else %}
                        <div class="col-xs-10">
                            {{ field }}
                        </div>
                        {% endif %}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-success" value="Finish" name="submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}

