{% extends "site_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% block head_title %}Home{% endblock %}
{% block extrahead %}
<link href="{% static 'app/css/jcarousel.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.4/jquery.jcarousel.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.4/jquery.jcarousel-autoscroll.min.js"></script>
<script type="text/javascript" src="{% static 'app/js/landing_page_jcarousel.js' %}" defer></script>

{% endblock %}

{% block nav %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#how-it-works">How it works</a>
    </li>
    {% include "nav_block_common.html" %}
</ul>
{% endblock %}

{% block body %}
<div class="content-section-a">
    <div class="container center">
        <div class="row">
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul style="left: 0px; top: 0px;">
                        <li><img src="{% static 'app/images/first.jpg' %}" width="600px" height="400">
                            <p>First image text</p></li>
                        <li><img src="{% static 'app/images/second.jpg' %}" width="600px" height="400">
                            <p>Second image text</p></li>
                        <li><img src="{% static 'app/images/third.jpg' %}" width="600px" height="400">
                            <p>Third image text</p></li>
                    </ul>
                </div>
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                <p class="jcarousel-pagination"></p>
            </div>
        </div>
        <div class="row">
            <div class="center text-center" id="how-it-works">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">How it works?</h2><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pulvinar felis vitae felis
                sagittis condimentum. Cras pharetra, mauris eget dignissim finibus, turpis lectus fringilla diam, eget
                pretium ligula metus rutrum tellus. Nulla scelerisque condimentum lectus a luctus. Phasellus justo odio,
                faucibus a felis eu, sodales gravida augue. Nullam vel sem ac quam iaculis congue quis a ex. Aliquam non
                volutpat ante.
            </div>
        </div>
        {% if not request.user.is_authenticated %}
        <div class="row">
            <div class="center text-center">
            <hr class="section-heading-spacer">
                <div class="col-xs-3 center">
                    <div class="clearfix"></div>
                    <a href="/login/facebook" class="btn btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span>Log in with Facebook</a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="center text-center" id="statistics">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Statistics</h2><br>
                <p>Total number of Items currently up for rent: {{ published_items }}</p>
                <p>Total number of deals done: {{ fb_profile_clicks }}</p>
            </div>
        </div>
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="col-xs-12" id="search-form">
                <div class="clearfix"></div>
                <h2 class="section-heading">Search</h2><br>
                <form action="{% url 'home' %}" method="get" id="search"><br>
                    {% for field in form %}
                    <div class="row {% if 'location' == field.name %} hidden {% endif %}">
                        <div class="col-xs-12">
                            <div class="control-label col-xs-2">
                                {{ field.label_tag }}
                            </div>
                            <div class="col-xs-10">
                                {{ field }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-success">
                </form>
            </div>
        </div>
        {% if table %}
        <hr class="section-heading-spacer">
        <div class="row">
            <div class="col-xs-12 form-horizontal">
                <h3>All Items</h3>
                    {% render_table table %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
