{% extends "site_base.html" %}
{% load staticfiles %}
{% block head_title %}Home{% endblock %}
{% block extrahead %}
<link href="{% static 'app/css/jcarousel.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.4/jquery.jcarousel.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.4/jquery.jcarousel-autoscroll.min.js"></script>
<script type="text/javascript" src="{% static 'app/js/landing_page_jcarousel.js' %}" defer></script>

{% endblock %}

{% block nav %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#how-it-works">How it works?</a>
    </li>
    {% include "nav_block_common.html" %}
</ul>
{% endblock %}

{% block body %}
<div class="content-section-a">
    <div class="container center">
        <div class="row">
            <div class="jcarousel-wrapper-landing">
                <div class="jcarousel">
                    <ul style="left: 0px; top: 0px;">
                        <li><img src="{% static 'app/images/first.jpg' %}" width="600px" height="400">
                            <p>Join & rent items with YBuy.<br>From person. To person.</p>
                        </li>
                        <li><img src="{% static 'app/images/second.jpg' %}" width="600px" height="400">
                            <p>Why buy a boat for that one-time rafting trip<br>you always wanted to go on?</p>
                        </li>
                        <li><img src="{% static 'app/images/third.jpg' %}" width="600px" height="400">
                            <p>Join and earn passive income on items<br>you do not use regularly.</p>
                        </li>
                    </ul>
                </div>
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                <p class="jcarousel-pagination"></p>
            </div>
        </div>
        <div class="row" id="how-it-works">
            <div class="center text-center">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">How it all works?</h2><br>
                <p>It is all surprisingly simple. You can join us through Facebook. If you want to rent any of your items out, you can list them easily.</p>
                <p>People can see all of the uploaded items, search for what they are seeking for and then contact eachother through Facebook to agree on the precise details.</p>
            </div>
        </div>
        {% if not request.user.is_authenticated %}
        <div class="row">
            <div class="center text-center">
                <hr class="section-heading-spacer">
                <div class="col-xs-3 center">
                    <div class="clearfix"></div>
                    <a href="/login/facebook" class="btn btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span>Log in with Facebook</a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="center text-center" id="statistics">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">How many people use YBuy?</h2><br>
                <p>You can currently rent {{ published_items }} different items.</p>
                <p>{{ fb_profile_clicks }} people have rented through YBuy.</p>
            </div>
        </div>
        {% include "app/item_search.html" %}
    </div>
</div>

{% endblock %}
