{% extends "site_base.html" %}
{% load staticfiles %}
{% block head_title %}Rent out your items{% endblock %}
{% block extrahead %}
<link href="{% static 'app/css/jcarousel.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.4/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="{% static 'app/js/run_jcarousel.js' %}" defer></script>

{% endblock %}
{% block body %}
<div class="col-xs-12 form-horizontal">
    {% if request.user == item.user and not item.is_published and new == True %}
    <div class="row">
        <p class="text-center">Your ad is sucessfully uploaded! {{ pk }} It is unpublished and under review. It will be
            published and will appear in search results within 24 hours after you added it.</p>
    </div>
    {% endif %}
    <div class="row">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul style="left: 0px; top: 0px;">
                    {% for image in item.image_set.all %}
                    <li><img src="{{ image.url }}" width="600px" height="400">
                        {% endfor %}
                </ul>
            </div>
            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-control-next">&rsaquo;</a>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-4 control-label">name</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ item.name }}</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-4 control-label">description</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ item.description }}</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-4 control-label">categories</label>
        <div class="col-sm-8">
            <p class="form-control-static">
                {% for category in item.categories.all %}
                {{ category}},
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-4 control-label">price_per_day</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ item.price_per_day }}</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-4 control-label">minimum_rental_period</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ item.minimum_rental_period }}</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-4 control-label">estimated_value</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ item.estimated_value }}</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-4 control-label">place</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ item.place }}</p>
        </div>
    </div>
    {% if distance %}
    <div class="row">
        <label class="col-sm-4 control-label">distance to you</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ distance|floatformat:2 }} miles</p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <label class="col-xs-4 control-label"></label>
        <div class="col-xs-8">
            <form action="{% url 'contact_owner' pk=item.id%}" method="post" id="contact-owner"><br>
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="I'm interested" name="submit">
            </form>
            <p class="form-control-static"></p>
        </div>
    </div>
    {% if request.user.is_staff %}
    <div class="row">
        <label class="col-sm-4 control-label">user</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ item.user }}</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-4 control-label">user fb profile</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ item.user.profile.facebook_url }}</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-4 control-label">user email</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ item.user.email }}</p>
        </div>
    </div>
    {% endif %}

    {% if request.user == item.user or request.user.is_staff %}
    <div class="row">
        <label class="col-sm-4 control-label">Published</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ item.is_published }}</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-4 control-label">controls</label>
        <div class="col-sm-8">
            {% if request.user.is_staff %}
            <div class="col-sm-2">
                <form action="{% url 'publish_item' pk=item.id%}" method="post" id="publish-item"><br>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Publish" name="submit">
                </form>
            </div>
            <div class="col-sm-2">
                <form action="{% url 'unpublish_item' pk=item.id%}" method="post" id="unpublish-item"><br>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-warning" value="Unpublish" name="submit">
                </form>
            </div>
            {% endif %}

            <div class="col-sm-2">
                <form action="{% url 'delete_item' pk=item.id%}" method="post" id="delete-item"><br>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-error" value="Delete" name="submit">
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

