{% load render_table from django_tables2 %}
{% load staticfiles %}
{% block extrahead %}
<link href="{% static 'django_tables2/css/screen.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
<div class="row">
    <hr class="section-heading-spacer">
    <div class="col-xs-12" id="search-form">
        <div class="clearfix"></div>
        <h2 class="section-heading">Search</h2><br>
        <form action="{% url 'home' %}" method="get" id="search"><br>
            {% for field in form %}
            <div class="row {% if 'location' == field.name %} hidden {% endif %}">
                <div class="col-xs-12">
                    <div class="control-label col-xs-2">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-xs-10">
                        {{ field }}
                    </div>
                </div>
            </div>
            {% endfor %}

            <input type="submit" class="btn btn-success" value="Search">
        </form>
    </div>
</div>
{% if table %}
<hr class="section-heading-spacer">
<div class="row">
    <div class="col-xs-12 form-horizontal">
        <h3>All Items</h3>
        {% render_table table %}
    </div>
</div>
{% endif %}