{% extends "site_base.html" %}
{% block head_title %}Terms and conditions{% endblock %}

{% block body %}

<div class="content-section-a">
    <div class="container center">
        <div class="row">
            <div class="center text-center" id="how-it-works">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Terms and conditions</h2><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pulvinar felis vitae felis
                sagittis condimentum. Cras pharetra, mauris eget dignissim finibus, turpis lectus fringilla diam, eget
                pretium ligula metus rutrum tellus. Nulla scelerisque condimentum lectus a luctus. Phasellus justo odio,
                faucibus a felis eu, sodales gravida augue. Nullam vel sem ac quam iaculis congue quis a ex. Aliquam non
                volutpat ante.
            </div>
        </div>
    </div>
</div>

{% endblock %}

