{% extends "site_base.html" %}
{% block head_title %}Rent out your items - upload images{% endblock %}
{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block body %}
<div class="container">
    <div id="content" class="col-xs-12 col-sm-8 col-md-8">
        <form method="post" id="upload-image"><br>
            {% csrf_token %}
            {% for field in form %}
            <div class="col-xs-12">
                <div class="col-xs-8">
                    {{ field }}
                </div>
                <div class="col-xs-2">
                    {{ field.errors }}
                </div>
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %} <input type="hidden" name="item_id" value="{{ item.id }}">
            <input type="submit" class="btn btn-success" value="Finish" name="submit">
        </form>
    </div>
</div>

{% endblock %}
