{% extends "site_base.html" %}
{% block head_title %}Users{% endblock %}
{% block body %}
People who have signed up
<table class="table table-striped">
    <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-mail</th>
    <th>picture url</th>
    <th>Open FB profile page to chat</th>
    </thead>
    {% for user in users %}
    <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td><a href="{{ user.profile.picture_url }}">{{ user.profile.picture_url }}</a></td>
        <td><a href="{{ user.profile.facebook_url }}">{{ user.profile.facebook_url }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
