#id_name {
    height: 30px;
}
#id_description {
    height: 100px;
}
#id_price_per_day {
    width: 100px;
}
#id_minimum_rental_period {
    width: 100px;
}
#id_estimated_value {
    width: 100px;
}
#id_categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#id_categories > * {
    float: left;
    text-align: center;
    padding: 15px;
    display: block;
}
#id_categories input {
    width: 15px;
    height: 15px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

body {
    padding-top: 85px;
/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
