{% load staticfiles %}
<li>
    <a href="#contact">Contact</a>
</li>
{% if request.user.is_authenticated %}
<li>
    <a href="{% url 'add_item' %}">Rent out your items</a>
</li>
<li>
    <a href="{{ request.user.profile.facebook_url }}" target="_blank"><img src="{{ request.user.profile.picture_url }}"></a>
</li>
<li>
    <a href="/logout/facebook"><img src="{% static 'app/images/fb_log_out.png' %}" height="25"></a>
</li>
{% else %}
<li>
    <a href="/login/facebook"><img src="{% static 'app/images/fb_log_in.png' %}" height="25"></a>
</li>
{% endif %}
