{% extends "pinax_theme_bootstrap/theme_bootstrap/base.html" %}
{% load staticfiles %}

{% block extra_head_base %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'app/js/tether.min.js' %}"></script>

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="{% static 'app/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <style xmlns="http://www.w3.org/1999/html">
        body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>
    {{ form.media }}
    {% block extrahead %}{% endblock %}
{% endblock %}

{% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">
    <img class="img-responsive" src="{% static 'app/images/why_buy.gif' %}" alt="" width="70">
</a>{% endblock %}

{% block body_base %}
    <section id="content_body">
        <div class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-inline">
                <li>
                    <a href="{% url "home" %}">Home</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a href="mailto:kristjan.r+ybuy@gmail.com" id="contact" name="contact">Contact</a>
                </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; YBuy 2017. All Rights Reserved</p>
        </div>
    </div>
{% endblock %}

