{% extends "pinax_theme_bootstrap/theme_bootstrap/base.html" %}
{% load staticfiles %}

{% block extra_head_base %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'app/js/tether.min.js' %}"></script>

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="{% static 'app/css/bootstrap-social.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'app/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
 {{ form.media }}
    {% block extrahead %}{% endblock %}
{% endblock %}

{% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">
    <img class="img-responsive" src="{% static 'app/images/ybuy.png' %}" alt="" width="200">
</a>{% endblock %}


{% block nav %}
<ul class="nav navbar-nav navbar-right">
    {% include "nav_block_common.html" %}
</ul>
{% endblock %}


{% block body_base %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=191007684701647";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <section id="content_body">
        <div class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a href="{% url "home" %}">Home</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a href="{% url "terms" %}">T&C link</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a href="https://www.facebook.com/RentWise-152445138577181/">FB page of YBuy</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a href="mailto:kristjan.r+ybuy@gmail.com" id="contact" name="contact">Contact</a>
                </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; YBuy 2017. All Rights Reserved</p>
        </div>
    </div>
{% endblock %}

